#envelope {
    position: relative;
    width: 280px;
    height: 180px;
    background-color: #f9c5c8;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 150px auto;
    overflow: hidden;
}

/* Aba do envelope */
#flap {
    position: absolute;
    top: -90px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 90px solid #f9c5c8;
    transition: transform 0.5s;
}

/* Carta */
#letter {
    position: absolute;
    width: 240px;
    height: 140px;
    background: white;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 
